<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Umea.se" value="https://umeakommun.pkgs.visualstudio.com/basicUse/_packaging/Umea.se/nuget/v3/index.json" />
    <add key="turkos.umea.se" value="https://umeakommun.pkgs.visualstudio.com/_packaging/turkos.umea.se/nuget/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="Microsoft.*" />
      <package pattern="System.*" />
      <package pattern="Newtonsoft.Json" />
    </packageSource>


    <packageSource key="feed-Umea.se">
      <package pattern="Umea.*" />
    </packageSource>


    <packageSource key="feed-turkos.umea.se">
      <package pattern="Umea.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
