name: $(buildName)_$(Date:yyyy-MM-ddTHH.mm.ss)

pr: none

trigger: none

pool:
  vmImage: ubuntu-latest

resources:
  repositories:
    - repository: templates
      type: git
      name: Turkos/ume-pipeline-templates
      ref: story/15222 #ÄNDRA DENNA TILL EN EGEN FÖR GITHUB TEMPLATES vid dev. GÄller för alla ställen där denna refereras in. Ändra till releasetag sedan när färdig.


parameters:
  - name: environment
    displayName: Environment
    type: string
    default: dev
    values:
      - dev
      - test
      - prod

  - name: buildAndDeployEstateServiceJobPicker
    displayName: Deploy ume-app-estateservice
    type: boolean
    default: false

variables:
  - template: pipelines/general/template-default-pipeline-variables.yml@templates
    parameters:
      environment: ${{ parameters.environment }}

  - name: isAutomatedDeployment
    value: $[ eq(variables['Build.RequestedFor'], 'Project Collection Build Service (umeakommun)') ]

  - group: ume-rg-estateplatform-${{ parameters.environment }}

stages:
  - stage: ValidateRequestStage
    displayName: Validate Request
    jobs:
      - template: pipelines/general/template-fail-on-condition.yml@templates
        parameters:
          failCondition: >-
            and(
              eq('${{ parameters.environment }}', 'prod'),
              not(startsWith(variables['Build.SourceBranch'], 'refs/tags/release/'))
            )
          errorMessage: Manual deployments to prod are only allowed from release tags.

  - stage: CheckForChangesStage
    displayName: Check for changes
    jobs:
      - template: pipelines/general/template-check-for-changes.yml@templates
        parameters:
          paths:
            - src/ume-app-estateservice

  # EstateService
  - stage: BuildEstateServiceStage
    displayName: Build EstateService
    dependsOn: CheckForChangesStage
    variables:
      changedPaths: $[ dependencies.CheckForChangesStage.outputs['Job.Task.CHANGED_PATHS'] ]
    condition: >-
      and(
        not(or(failed(), canceled())),
        or(
          eq(${{ parameters.buildAndDeployEstateServiceJobPicker }}, true),
          and(
            contains(variables['changedPaths'],
            'ume-app-estateservice'),
            or(
              eq(variables['Build.Reason'], 'IndividualCI'),
              eq(variables['isAutomatedDeployment'], true)
            )
          )
        )
      )
    jobs:
      - template: pipelines/azure/template-build-backend.yml@templates
        parameters:
          projectFolderName: ume-app-estateservice
          entrypointProjectName: Umea.se.EstateService.API

  - stage: DeployEstateServiceStage
    displayName: Deploy EstateService
    dependsOn: BuildEstateServiceStage
    jobs:
      - template: pipelines/azure/template-deploy-backend.yml@templates
        parameters:
          azureSubscription: $(serviceConnection)
          environment: ${{ parameters.environment }}
          resourceGroup: ume-rg-estateplatform-${{ parameters.environment }}
          appName: ume-app-estateservice-${{ parameters.environment }}
          projectFolderName: ume-app-estateservice
          pingEndpoints:
            - /index.html
            - /api/v1.0/home/ping
  # ------
